.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;

    /* background: linear-gradient(135deg, #0099cc, #66ccff); */
    background-color: darkgrey;
    border-radius: 15px;
    border: 1px solid black;
  }