.mainContainer {
  position: relative;
  background-color: #121e2d;
  border-radius: 10px;
  border: 2px solid #659ccb;
}

.cardDecoration {
  position: absolute;
  width: 0.5rem;
  height: 100%;
  background-color: #f16c65;
  align-self: flex-start;
  border-radius: 10px 0 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 30%;
  /* width: 100%; */
  height: 100%;
  padding: 5px;
  padding-left: 10px;
  box-sizing: border-box;

  /* background-color: #121e2d;
  border-radius: 10px;
  border: 2px solid #659ccb; */
}