.logoContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 116px;

}

.logoPosition {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logoLink {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.imageLogo {
	width: 116px;
	border-radius: 10px;
	border: 3px solid var(--color-decoration-02);
	padding: 3px;
    box-sizing: border-box;
}

@media screen and (max-width: 484px) {
    .logoContainer {
        height: 71px;
        padding-bottom: 0.5rem;
    }
}
