.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    /* flex-wrap: nowrap; */
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.buttonAddRemove {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:  30px;
    height: 30px;
    box-sizing: border-box;
    padding: 0;
}

.imgAddRemoveButton {
    width: 20px;
}

.disabledButton {
    filter: grayscale(50%);
}