.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70%;
    gap: 0.3rem;
}

.selectores {
    display: flex;
    flex-direction: column;
    /* margin-right: 10px; */
    align-items: center;
    gap: 0.3rem;
}

.gridItem01 {
    grid-column: span 2;
    /* display: flex;
    width: 100%; */
}