.background {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url("../../assets/backgrounds/planisferio5.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
	padding: 2rem;
	box-sizing: border-box;
	/* filter: hue-rotate(180deg); */
}