.card{
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;

    backdrop-filter: blur(90px);

    color: #310336;

    /* padding: 2px; */
    overflow: hidden;
}

.boldText {
    font-weight: bold; /* Hacer que el texto esté en negrita */
  }

p {
    margin: 0px;
    padding: 0px;
}