.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	background-color: var(--color-background-01);
	border-radius: 10px;
	border: 2px solid var(--color-border);
	position: relative;
	box-sizing: border-box;
	min-width: 502px;
	max-width: 730px;
	width: 100%;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(3, minmax(150px, 1fr));
	gap: 0.5rem;

}

.gridItem01 {
	grid-column: span 2;
}

.gridItem03 {
	grid-column: span 2;
}

.gridItem05 {
	grid-column: span 3;
}
