.gridContainer {
	display: grid;
	grid-template-columns: repeat(3, minmax(150px, 1fr));
	gap: 0.5rem;

}

.gridItem01 {
	grid-column: span 2;
}

.gridItem03 {
	grid-column: span 2;
}

.gridItem05 {
	grid-column: span 3;
}
