.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkgrey;
    border-radius: 15px;
    border: 1px solid black;

    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 2px; */
    margin-bottom: 2px;

}

.replaceSearch{
    width: 235px;
}