.formContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

input {
	width: 150px;
	margin-right: 10px;
}

.button {
    color: #00d3c1;
    background-color: #233c57;
}