.imagenFondo {
    background-image: url("./planisferio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* para ocupar toda la altura de la ventana */
  }

  h1 {
    margin-top: 0;
  }