/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

.imagenFondo {
    background-image: url("../../assets/backgrounds/planisferio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea verticalmente los elementos en el centro */
    align-items: center; /* Alinea horizontalmente los elementos en el centro */
}

  h1 {
    margin-top: 0;
    font-size: 4em;
  }

  .background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* color: #310336; */

	background-image: url("../../assets/backgrounds/planisferio.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
	padding: 2rem;
	box-sizing: border-box;
	/* color: #310336; */
	/* filter: hue-rotate(180deg); */

}

.title {
  color: #121e2d;
  /* mix-blend-mode: difference; */
    /* Grosor del contorno */
    -webkit-text-stroke-width: 1px;
    /* Color del contorno */
    -webkit-text-stroke-color: #659ccb;

  }

.button {
  display: flex;
  flex-direction: row;

  background-color: #121e2d;
  color: #f16c65;
  align-items: baseline;
}
