.imagenFondo {
    background-image: url("./planisferio4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* para ocupar toda la altura de la ventana */
  }

  .formulario{
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }