.goBack {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.button {
	display: flex;
	flex-direction: row;

    color: var(--color-text);
    background-color: var(--color-background-02);
	align-items: baseline;

}